body {
  background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/copesa/MITDV2TMLRAIBAOKSLREQAFNTA.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.contenedorImg {
  
 display: flex;
 justify-content: center;
  


}

.contenedor {
  text-align: center;
  box-shadow: 1px 3px 7px rgba(50, 50, 50, 1);
  
}

.contenedor div {
 display: inline-block;
 font-size: 60px;
 color: white;
 padding: 30px;
}